################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/circuit_sim
/circuit_sim/bin/Debug
/circuit_sim/.vs
/circuit_sim/obj
/circuit_sim/obj/Debug
/circuit_sim/obj/Debug/circuit_sim.csproj.AssemblyReference.cache
/circuit_sim/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
